[submodule "PacktPublishing-kafka-streams"]
	path = 1 - Kafka Streams for Data Processing/Apache-Kafka-Series---Kafka-Streams-for-Data-Processing
	url = https://github.com/CsBigDataHub/Apache-Kafka-Series---Kafka-Streams-for-Data-Processing.git
